/* .navbar-menu */
.logo{
    padding: 5px;
    display: flex;
    justify-content: space-evenly; 
    height: 33px;
    align-items: center;
    /* color-scheme: yellow green olive goldenrod; */
    background-color: rgb(115, 57, 3);
}

.d-flex {
    display: flex;
}

.d-flex btn-user {
    margin-right: 10px;
}
/* .logo{
    width: 100px;
    color-scheme: green yellow olive;
    justify-content: space-evenly;
} */

a{
    text-transform: uppercase;
    font-size: 18px;
    color: green;
    letter-spacing: 1px;
    font-weight: bolder;
    text-decoration: dotted;
}

a:hover{
    color: red;
}
